@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Lexend+Deca&family=Montserrat:ital,wght@0,200;0,300;0,500;1,200;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,700&family=Lexend+Deca&family=Montserrat:ital,wght@0,200;0,300;0,500;1,200;1,300&display=swap');
body{
  background-color:hsl(30, 38%, 92%);
}
.b{
     font-family:'Montserrat',cursive;
     color:hsl(228, 12%, 48%);
     margin-left:20px;
}
.c{
    font-family: 'Fraunces';
    font-size:40px;
    font-weight: bolder;
    margin-top:50px;
}
.d{
    
    font-size:40px;
    margin-top:0px;
    font-family: 'Fraunces';
    font-weight: bolder;
    margin-top:-50px;


}
.e{
    font-size:40px;
    margin-top:0px;
    font-family: 'Fraunces';
    font-weight: bolder;
    margin-top:-50px;

}
.f{
    margin-top:-50px;
    margin-left:20px;
}
.g{
     color:hsl(228, 12%, 48%);
     font-size:17px;
     font-family:'Montserrat',cursive;
     margin-left:-25px;

}
.h{
    color:hsl(228, 12%, 48%);
    font-size:17px;
    margin-top:-20px;
    font-family:'Montserrat',cursive;
    margin-left:-25px;
}
.i{
    color:hsl(228, 12%, 48%);
    font-size:17px;
    margin-top:-20px;  
    font-family:'Montserrat',cursive;  
    margin-left:-25px;    
}
.j{
    color:hsl(228, 12%, 48%);
    font-size:17px;
    margin-top:-20px;
    font-family:'Montserrat',cursive;
    margin-left:-25px;
}
.k{
    font-family:'Fraunces';
    margin-top:-25px;
    margin-left:40px;
}
.l{
    font-size:40px;
    color:hsl(158, 36%, 37%);
    font-family:'Fraunces';
    margin-top:80px;
    margin-top:-80px;
    margin-left:-30px;
    font-weight:bolder;

}
.m{
    font-size:20px;
    margin-top:-80px;
    margin-left:150px;
    text-decoration:line-through;
    color:hsl(228, 12%, 48%);
    font-family:'Fraunces';
}
.n{
    margin-top:-30px;        
    margin-top:100px;
    margin-left:50px;

}
a{
    text-decoration:none;
    font-size:15px;
    background-color:hsl(158, 36%, 37%);
    padding:15px;
    color:hsl(0, 0%, 100%);
    padding-left:90px;
    padding-right:90px;
    border-radius:5px;
    font-family:'Montserrat',cursive ;

            
}
.o{
    margin-top:70px;
    padding-bottom:20px;
}



i{
    color:hsl(0, 0%, 100%);
}
.p{
    margin-top:-42px;
    margin-left:45px;
}
.q{
    background-color:hsl(0, 0%, 100%);
    padding:20px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    margin-top:170px;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px;
  height:410px;

}
.r{
    padding-right:100px;
    display: flex;
    margin-left:-120px;

}
img{
    margin-left:600px;
    height:450px;
    margin-top:170px;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
}
.s{
    margin-left:20px;
    margin-top:-80px;
}
.t{
    display: none;
}
.u{
   display:none;
   font-family: 'Fraunces';
}
.w{
    display: none;
    font-family: 'Fraunces';
}
.z{
    display: none;
}
.y{
    display: none;
}
.aa{
    display:none;
}




@media(max-width:550px) {
   .t{
    display: block;

   }
   .a{
    display:none;
   }
   img{
    height:250px;
    width:320px;        
    float:right;
    border-top-right-radius:10px;
    border-bottom-left-radius:0px;
    margin-right:-85px;
    margin-top:-10px;


    
   }
   .r{
      flex-direction: column; 
    

   }
   .q{
    margin-left:130px;
    margin-right:-85px;
    margin-top:0px;
    padding-bottom:0px;
    border-top-left-radius: 0px;
    border-top-right-radius:0px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;

   }
   .b{
    margin-left:5px;
    font-family:'Montserrat';
   color: hsl(228, 12%, 48%);
    
   }
  .c{
    font-size:35px;
    margin-left:-10px;
    font-family: 'Fraunces';
    font-weight:bolder;
    margin-top:-10px;

  }
  .d{
    font-size:35px;
    margin-top:-75px;
    margin-left:130px;
    display:none;
  }
  .e{
    font-size:35px;
    margin-top:-40px;
    margin-left:60px;
    font-weight: bolder;
  }
  .f{
    margin-top:10px;
    margin-left:10px;
    margin-top:-25px;
  }
  .u{
    display:block;
    font-size:35px;
    margin-top:-35px;
    font-family: 'Fraunces';
    margin-left:-10px;
    font-weight: bolder;
  }
  .w{
     display: block;        
     font-size:35px;  
     margin-top:-118px;
     margin-left:130px;   
     font-family: 'Fraunces'; 
     font-weight: bolder;
  }
  .g{
    font-size:17px;
    margin-left:-43px;
    font-family:'Montserrat';
    color: hsl(228, 12%, 48%);
    margin-top:-20px;
  }
  .h{
    font-size:17px;
    margin-left:-43px;
    margin-top:5px;
    margin-top:-15px;
    font-family:'Montserrat';
    color: hsl(228, 12%, 48%);
  }
  .z{
    font-size:17px;
    color: hsl(228, 12%, 48%);
    margin-left:205px;
    margin-top:-35px;
    display:block;
    font-family:'Montserrat';
  }
  .i{
    display:none;
  }
  .j{
    display:none;
  }
  .y{
    display:block;
    font-size:17px;
    color: hsl(228, 12%, 48%);
    margin-left:-43px;
    margin-top:-15px;
    font-family:'Montserrat';

  }
  .aa{
    font-size:17px;
    color: hsl(228, 12%, 48%);
    margin-left:-43px;
    margin-top:-15px;
    display: block;
    font-family:'Montserrat';
  }
  .k{
    margin-top:10px;
  }
  .l{
    font-size:35px;
    margin-left:-40px;
    margin-top:-80px;
    font-weight: bolder;

  }
  .m{
    font-size:20px;
    margin-left:120px;
    margin-top:2px;
    margin-top:-70px;
  }
  a{
    padding-left:70px;
    padding-right:70px;
    margin-left:-60px;
  }
  .p{
    margin-left:-30px;
  }
  .s{
    margin-top:-95px;
    margin-left:90px;
  }
  
}