@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Montserrat:ital,wght@0,200;0,300;0,500;1,200;1,300&family=Outfit:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Montserrat:ital,wght@0,200;0,300;0,500;1,200;1,300&family=Outfit:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:wght@700&family=Archivo:wght@600&family=Big+Shoulders+Display:wght@700&family=Dancing+Script&family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Josefin+Sans:ital,wght@0,400;1,300;1,500&family=Josefin+Slab&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Lobster&family=Lora:wght@700&family=Michroma&family=Montserrat+Alternates&family=Montserrat:ital,wght@0,200;0,300;0,500;1,200;1,300&family=Nanum+Gothic&family=Outfit:wght@400;600;700&family=Rowdies&family=Satisfy&family=Seymour+One&family=Space+Grotesk:wght@300&display=swap');

.image-header img{
    height:450px;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;

}

body{
       background-color:hsl(30, 38%, 92%);
}
h1{
    color: hsl(228, 12%, 48%);
    margin-left: 20px;
    font-size: 15px;
    font-weight:500;
    font-family:'Montserrat';
}
.content{
    color:hsl(228, 12%, 48%);
    margin-left: 20px;
    font-size: 15px;
    font-weight:500;
    font-family:'Montserrat';
    margin-top:-30px;

}
.price-content{
    color: hsl(158, 36%, 37%);
    margin-left:20px;
    font-size: 30px;
    font-weight:700;
    font-family:'Fraunces',serif;
    margin-top:-15px;
}
.subcost-content{
    color:hsl(228, 12%, 48%);
    margin-left:160px;
    margin-top:-60px;
    text-decoration:line-through;
    font-size: 15px;
    font-weight:500;
    font-family:'Montserrat';
}
.btn1 {
    background-color:hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border-top-width:0px;
    border-bottom-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    padding-top:15px;
    padding-left:65px;
    padding-bottom:15px;
    padding-right: 65px;
    text-decoration: none;
    margin-left:25px;
    font-size: 15px;
    font-weight:500;
    font-family:'Montserrat';
    margin-top:35px;
    border-radius:10px;
    
    

}
.btn1:hover{
    background-color:hsl(212, 21%, 14%);
    transition:1s;
}
.btn1 img{
    padding-right:10px;
}
.container-wrapper{
    background-color: hsl(0, 0%, 100%);
    margin-top:50px;
    padding-top:5px;
    padding-bottom:15px;
    margin-top:1px;
    width:300px;
    height:430px;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;

}
.wrapper{
  display: flex;
}
h2{
    margin-left:20px;
    font-size: 40px;
    font-weight:700;
    font-family:'Fraunces',serif;
    margin-top:-30px;
}
.img-header{
    display: none;
}

body {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 98vh;
}
html,body{
    overflow-x:hidden;
    max-width:100%;
}

@media (max-width:600px) {
    .wrapper{
        flex-direction:column;
    }
    .image-header img{
        display: none;
    }
    .img-header{
        display: block;
        margin-top:30px;
        margin-left:25px;
        margin-right:10px;
    
    }
    .img-header img{
        height:250px;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
        width:360px;
    }
    .container-wrapper{
        margin-top: -5px;
        border-top-right-radius:0px;
        border-bottom-left-radius:10px;
        width:360px;
        height:370px;
        margin-left:25px;
        padding-bottom:45px;

    }
    h2{
        font-size:35px;
        margin-top:-20px;
        font-weight:700;
    }
    .content{
        margin-top:0px;
        margin-top:-15px;
        font-size:17px;
        line-height:22px;
    }
    .btn1{
            padding-top:20px;
            padding-bottom:20px;
            padding-right:80px;
            padding-left:80px;
            margin-top:15px;
            font-size:17px;
            margin-left:30px;
    }
    .price-content{
        font-size:35px;
    }
    .subcost-content{
        font-size:18px;
        margin-left:180px;
        margin-top:-65px;
    }
    
}
@media (max-width:390px) {
    .img-header img{
        height:220px;
        width:300px;
    }
    .img-header{
        margin-left:5px;
    }
    .container-wrapper{
        width:300px;
        height:300px;
        margin-left:5px;
        padding-bottom:45px;

    }
    h2{
        font-size:25px;
        margin-top:-20px;
        font-weight:700;
    }
    .content{
        margin-top:0px;
        margin-top:-15px;
        font-size:13px;
        line-height:22px;
    }
    .price-content{
        font-size:25px;
    }
    .subcost-content{
        font-size:13px;
        margin-left:140px;
        margin-top:-50px;
    }
    .btn1{
        padding-top:15px;
        padding-bottom:15px;
        padding-right:60px;
        padding-left:60px;
        margin-top:15px;
        font-size:17px;
        margin-left:30px;
}
}