@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Montserrat:ital,wght@0,200;0,300;0,500;1,200;1,300&family=Outfit:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Montserrat:ital,wght@0,200;0,300;0,500;1,200;1,300&family=Outfit:wght@400;600;700&display=swap');


.image-header img{
    height:450px;
    margin-top:150px;
    margin-left:-300px;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;

}
.image-header{
    margin-left:750px;
    
}
body{
       background-color:hsl(30, 38%, 92%);
}
.header{
    color: hsl(228, 12%, 48%);
    margin-left: 20px;
    font-size: 15px;
    font-weight:500;
    font-family:'Montserrat';
}
.content{
    color:hsl(228, 12%, 48%);
    margin-left: 20px;
    font-size: 15px;
    font-weight:500;
    font-family:'Montserrat';
    margin-top:-30px;

}
.price-content{
    color: hsl(158, 36%, 37%);
    margin-left:20px;
    font-size: 30px;
    font-weight:700;
    font-family:'Fraunces',serif;
    margin-top:-15px;
}
.subcost-content{
    color:hsl(228, 12%, 48%);
    margin-left:160px;
    margin-top:-60px;
    text-decoration:line-through;
    font-size: 15px;
    font-weight:500;
    font-family:'Montserrat';
}
.btn-footer{
    background-color:hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border-top-width:0px;
    border-bottom-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    padding-top:15px;
    padding-left:65px;
    padding-bottom:15px;
    padding-right: 65px;
    text-decoration: none;
    margin-left:25px;
    font-size: 15px;
    font-weight:500;
    font-family:'Montserrat';
    margin-top:20px;
    border-radius:10px;
    

}
.btn-footer:hover{
    background-color:green;
}
.btn-footer img{
    padding-right:10px;
}
.container-wrapper{
    background-color: hsl(0, 0%, 100%);
    margin-top:50px;
    padding-top:5px;
    padding-bottom:15px;
    margin-top:150px;
    width:300px;
    height:430px;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;

}
.wrapper{
  display: flex;

}
.content-header{
    margin-left:20px;
    font-size: 40px;
    font-weight:700;
    font-family:'Fraunces',serif;
    margin-top:-30px;
}
.img-header{
    display: none;
}

@media (max-width:375px) {
    .wrapper{
        flex-direction:column;
    }
    .image-header img{
        display: none;
    }
    .img-header{
        display: block;
        margin-top:30px;
        margin-left:10px;
        margin-right:10px;
    
    }
    .img-header img{
        height:220px;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
        width:315px;
    }
    .container-wrapper{
        margin-top: -5px;
        border-top-right-radius:0px;
        border-bottom-left-radius:10px;
        width:315px;
        height:365px;
        margin-left:10px;

    }
    .content-header{
        font-size:33px;
        margin-top:-20px;
        font-weight:700;
    }
    .content{
        margin-top:0px;
        margin-top:-20px;
        font-size:16px;
        line-height:22px;
    }
    .btn-footer{
            padding-top:15px;
            padding-bottom:15px;
            padding-right:80px;
            margin-left:25px;
            padding-left:80px;
    }
}
